PORT=4000

POSTGRES_USER="diwisen_user"
POSTGRES_PASSWORD="diwisen_password"
POSTGRES_DB="diwisen_db"
DATABASE_URL="postgresql://diwisen_user:diwisen_password@db:5432/diwisen_db?schema=public"

JWT_SECRET="what-the-f-uWu-ehehe"

AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_REGION=""
S3_BUCKET_NAME=""